body{
    margin: 0;
}

ul {
    color:aliceblue;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li a{
    float:left;
    font-size: 20px;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: white;
}

.active {
    background-color: #4CAF50;
}

.jumbotron {
  background-image: url(IMG_5332.jpg);
  background-size: cover;
  height: 520px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

#welcome{
    font-size: 65px;
    text-align: center;
    margin-top: 0
}

.About{
    text-align: center;
}

.bg_color{
    padding:0px;
    margin-top:30px;
    background-color:#caf4ad;
    height:2000px;
}

#blurb{
    font-size:20px;
    padding-right:200px;
    padding-left:200px;
    padding-top: 30px;
    float: center;
}

#photo{
    float:center;
    margin-top: 30px;
    padding-left: 50px;
    margin-bottom: 50px;
}

.Portfolio{
    margin-top: 0px;
    padding:0px;
    text-align: center;
    background-color: #d6f1ff;
}

#portfolio{
    padding-top: 30px;
}

#code{
    font-size:20px;
    padding-right:200px;
    padding-left:200px;
    padding-top: 30px;
    float: center;
}

#pizza{
    margin-top:30px;
    margin-bottom: 30px;
}

#witch{
    padding-right:50px;
    margin-bottom: 20px;
}

.Photos{
    margin-top: 0px;
    padding:0px;
    text-align: center;
    background-color: #fbd6ff;
}

#photos{
    padding-top: 30px;
}

#gallery{
    font-size:20px;
    padding-right:200px;
    padding-left:200px;
    padding-top: 30px;
    padding-bottom: 30px;
    float: center;
}

.responsive{
    padding:25px;
}

.last{
    padding-top:25px;
    padding-bottom:50px;
}
